:root {
  --highlight: #5bc8af;
  --bg: #297c6b;
  --bg-gradient: #194d44;
  --main: #333;
  --faded: #eaeaea;
  --bg2: #f5f5f5;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/* navbar */
navbar {
  max-width: 1440px;
  background: rgba(25, 77, 68, 0.85);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem 5rem;
  font-weight: bold;
  margin: 0 auto;
}
navbar a {
  float: left;
  display: block;
  color: var(--faded);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding-right: 2rem;
}
navbar a:hover {
  color: white;
}
.nav {
  display: inline-flex;
}
.call {
  border-left: 2px solid white;
  width: max-content;
  text-decoration: none;
  display: inline-flex;
  font-weight: bold;
  padding-left: 2rem;
}
.call p {
  color: white;
}
.call-num {
  color: var(--highlight);
}
/* header */
header {
  position: relative;
  background-image: url("./assets/image-hero.png");
  background-size: cover;
  background-position: center;
  padding: 5rem;
  text-align: center;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1440px;
  margin: 0 auto;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 77, 68, 0.85);
  z-index: 1;
}
header > * {
  position: relative;
  z-index: 2;
}
header .hero-left {
  text-align: left;
  .head1 {
    font-size: 60px;
    line-height: 5%;
    .get {
      color: transparent;
      text-shadow: 2px 2px 4px transparent;
      -webkit-text-stroke: 1px white;
    }
  }
  .text {
    line-height: normal;
    padding-right: 4.5rem;
  }
}
header .hero-right {
  background-color: rgba(91, 200, 175, 0.55);
  padding: 1rem 1.5rem 1rem 1rem;
  text-align: left;
  border-radius: 20px;
  margin-right: 4rem;
  max-width: 600px;
  width: 100%;
  h2 {
    text-align: center;
  }
  .input-name {
    display: flex;
    gap: 2rem;
    .container1 {
      position: relative;
      height: 80px;
      width: 100%;
      input {
        position: relative;
        max-width: 91%;
        width: 100%;
        outline: none;
        font-size: larger;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid var(--faded);
        background-color: transparent;
        transition: 0.1s ease, color 0.1s ease;
        z-index: 1;
      }
      .label-line {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: large;
        columns: var(--faded);
        padding: 0 10px;
        background: rgba(91, 200, 175, 0.5);
        transition: 0.2s ease;
        pointer-events: none;
      }
      input:focus,
      input:valid {
        color: white;
        border: 2px solid white;
      }
      input:focus + .label-line,
      input:valid + .label-line {
        color: white;
        top: 10px;
        left: 12px;
        /* height: 30px; */
        padding: 0 10px;
        transform: translate(-10px, -20px) scale(0.88);
        z-index: 1;
      }
    }
  }
}
.selection {
  width: 100%;
  .selection1 {
    width: 100%;
    padding: 15px;
    background: transparent;
    border: 2px solid var(--faded);
    border-radius: 10px;
    color: white;
    font-size: large;
    outline: none;
    option {
      background: var(--main);
    }
  }
}
.submit-btn {
  max-width: max-content;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .opt-send {
    background: var(--highlight);
    display: flex;
    flex-direction: row;
    padding: 5px 4rem;
    color: white;
    gap: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    .clr-icon {
      align-items: center;
      justify-content: center;
      margin-top: 0.9rem;
    }
    .btn-txt {
      font-size: large;
    }
  }
}
.opt-send:hover {
  background: var(--main);
}
/* understanding */
.understand {
  max-width: 1400px;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--bg2);
  padding: 3.5rem;
  margin: 0 auto;
  gap: 2rem;
  color: var(--main);
  .card {
    width: 100%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .und-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    color: var(--highlight);
    border: 2px solid;
    border-radius: 5px;
    font-weight: bold;
  }
  .und-btn i {
    margin-top: 0.5rem;
  }
}
/* carousel */
.carousel {
  max-width: 1440px;
  margin: 0 auto;
  padding: 4rem;
  position: relative;
  box-shadow: 0px 1px 6px var(--main);
  .carousel-inner {
    position: relative;
    overflow: hidden;
    padding: 0 6rem;
  }
  .carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
  }
  .carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    display: flex;
    .carousel-bg {
      background: var(--bg-gradient);
      padding: 4rem;
      margin: 1.2rem 2rem 2.5rem 0;
      height: auto;
      border-radius: 0 10px 10px 0;
      .carousel-head {
        display: flex;
        justify-content: space-between;
        color: white;
      }
      p {
        color: var(--faded);
        font-style: italic;
      }
    }
  }
  .carousel-item img {
    display: block;
    height: auto;
    object-fit: contain;
    border-radius: 10px 0 0 10px;
  }
  .carousel-control {
    background: rgba(51, 51, 51, 0.28);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
  }
  .carousel-control.prev {
    left: 2%;
  }
  .carousel-control.next {
    right: 2%;
  }
  .carousel-control:hover {
    background: rgba(51, 51, 51, 0.8);
    color: white;
  }
  #carousel-1:checked ~ .control-1,
  #carousel-2:checked ~ .control-2,
  #carousel-3:checked ~ .control-3 {
    display: block;
  }
  .carousel-indicators {
    list-style: none;
    position: absolute;
    bottom: -9%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
  }
  .carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
  }
  .carousel-bullet {
    color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
    display: block;
    font-size: 35px;
  }
  .carousel-bullet:hover {
    color: var(--main);
  }
  #carousel-1:checked
    ~ .control-1
    ~ .carousel-indicators
    li:nth-child(1)
    .carousel-bullet,
  #carousel-2:checked
    ~ .control-2
    ~ .carousel-indicators
    li:nth-child(2)
    .carousel-bullet,
  #carousel-3:checked
    ~ .control-3
    ~ .carousel-indicators
    li:nth-child(3)
    .carousel-bullet {
    color: var(--bg);
  }
}
/* organize */
.organize {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 4rem 4rem 4rem;
  .organize-1 {
    display: flex;
    gap: 1rem;
    font-size: 45px;
    font-weight: 900;
    line-height: 0.1;
    color: var(--main);
    .org-head {
      color: transparent;
      text-shadow: 2px 2px 4px transparent;
      -webkit-text-stroke: 2px var(--main);
    }
  }
  .org-text {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(200px, 1fr);
    gap: 3rem;
    line-height: 1.5;
    .org-text1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      height: 100%;
      p {
        font-style: italic;
        color: var(--main);
        strong {
          font-weight: 900;
        }
      }
      .textarea-small {
        margin-bottom: 7rem;
      }
      .und-btn {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: auto;
        justify-content: center;
        gap: 3rem;
        cursor: pointer;
        color: var(--highlight) !important;
        background: transparent;
        border: 2px solid;
        border-radius: 5px;
        font-weight: bold;
        transition: color 0.3s, border-color 0.3s;
        i {
          /* margin-top: 0.5rem; */
          opacity: 0;
          transition: opacity 0.3s, color 0.3s;
        }
        p {
          color: var(--highlight) !important;
          transition: color 0.3s;
        }
        .hover-text {
          position: absolute;
          display: none;
          margin-top: 10rem;
          background: var(--bg-gradient);
          text-align: left;
          opacity: 0;
          color: var(--faded);
          z-index: 1;
          padding: 1rem;
          border: none;
          border-radius: 10px;
          width: 70%;
        }
        .hover-text::before {
          content: "";
          position: absolute;
          left: 45%;
          top: -10%;
          rotate: 45deg;
          border: 12px solid;
          border-color: var(--bg-gradient);
        }
        &:hover {
          color: var(--bg-gradient);
          border-color: var(--bg-gradient);
          p {
            color: var(--bg-gradient) !important;
          }
          i {
            opacity: 50%;
            color: var(--bg-gradient);
          }
          .hover-text {
            display: block;
            opacity: 1;
          }
        }
      }
    }
  }
}
/* testimonials */
.testimonials {
  max-width: 1440px;
  width: 100%;
  height: 33rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: var(--bg-gradient);
  .testi-left {
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    line-height: 1.5;
    h1 {
      display: flex;
      gap: 11px;
      font-weight: 900;
      font-size: 35px;
      color: white;
      width: 55%;
      margin-top: -5rem;
      margin-bottom: -0.5rem;
      line-height: 1.5;
      .testi-h1 {
        color: transparent;
        text-shadow: 2px 2px 4px transparent;
        -webkit-text-stroke: 1px white;
      }
    }
    .testi-detail {
      display: flex;
      width: 55%;
      margin-top: -1rem;
      h3 {
        margin-bottom: -0.5rem;
      }
      i {
        color: var(--highlight);
        padding: 20px 15px 0 2px;
      }
      .testi-detail-text {
        h3 {
          color: white;
        }
        p {
          color: var(--faded);
        }
      }
    }
  }
  .testi-right {
    position: relative;
    background-image: url("./assets/test.png");
    background-size: cover;
    background-repeat: no-repeat;
    img {
      position: absolute;
      object-fit: contain;
      bottom: 1rem;
      right: 1rem;
      z-index: 90;
    }
    .video-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80px;
      height: 80px;
      background: var(--highlight);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 10;
    }
    .play-icon {
      font-size: 24px;
      color: white;
      position: relative;
      z-index: 20;
    }
    .wave {
      position: absolute;
      border: 4px solid rgba(51, 51, 51, 0.6);
      border-radius: 50%;
      width: 100%;
      height: 100%;
      animation: wave-animation 1.5s infinite;
      opacity: 0;
    }
    .wave:nth-child(1) {
      animation-delay: 0s;
    }
    .wave:nth-child(2) {
      animation-delay: 0.5s;
    }
    .wave:nth-child(3) {
      animation-delay: 1s;
    }
    @keyframes wave-animation {
      0% {
        transform: scale(1);
        opacity: 0.6;
      }
      50% {
        opacity: 0;
      }
      100% {
        transform: scale(1.5);
        opacity: 0;
      }
    }
  }
}
/* footer */
footer {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem 10rem;
  color: rgba(51, 51, 51, 0.5);
  background: white;
  display: flex;
  justify-content: space-between;
  .foot-items ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    li a {
      text-decoration: none;
      color: rgba(51, 51, 51, 0.5);
      &:hover {
        font-weight: bold;
        color: var(--highlight);
      }
    }
  }
}
